.CustomizePopup__choicOfAddon
              p(class="sofia-semibold size-18") Choice of Add On
          
              .row-label         
                - for(let i = 0 ; i < 3 ; i++)    
        
                    label(class="choice-row sofia-medium size-14" for=`${i+1}bundle-cuban`) 
                      span Pepper  julienned
                    
                      span(class="choice-row__rightside--price sofia-L size-14 grey") +$2.30
                      input(type="radio" name="choice-1-bundle-Choice-1" id=`${i+1}bundle-cuban`)
                      span(class="dummyspan")
              .row-label         
                - for(let i = 0 ; i < 3 ; i++)    
        
                    label(class="choice-row sofia-medium size-14" for=`${i+4}bundle-cuban`) 
                      span Baby Spinach
                    
                      span(class="choice-row__rightside--price sofia-L size-14 grey") +$2.30
                      input(type="radio" name="choice-1-bundle-Choice-2" id=`${i+4}bundle-cuban`)
                      span(class="dummyspan")
              .row-label         
                - for(let i = 0 ; i < 3 ; i++)    
        
                    label(class="choice-row sofia-medium size-14" for=`${i+7}bundle-cuban`) 
                      span Mushrom
                    
                      span(class="choice-row__rightside--price sofia-L size-14 grey") +$2.30
                      input(type="radio" name="choice-1-bundle-Choice-3" id=`${i+7}bundle-cuban`)
                      span(class="dummyspan")